{% extends 'layout.twig' %}


{% block title %}Book list{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Book</th>
                        <th>Author</th>
                        <th>Publishing company</th>
                        <th>Edition</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{ book.getKey() }}</th>
                        <td>{{ book.get('title') }}</td>
                        <td>{{ book.get('author') }}</td>
                        <td>{{ book.get('company') }}</td>
                        <td>{{ book.get('edition') }}</td>
                        <td style="width: 25%">
                            <form action="/delete/{{ book.getKey() }}" method="post">
                                <a href="/edit/{{ book.getKey() }}" class="btn btn-info">Update</a>
                                <a href="/details/{{ book.getKey() }}" class="btn btn-warning">Details</a>
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
